---
interface Props {
  data: any;
}

const { data } = Astro.props;
---

<div class="landing-page">
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <article class="content prose prose-lg max-w-none dark:prose-invert text-center">
            <slot />
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
